<footer class="page-footer">
    <div class="row">
    <div class="col s12 normalMode">
        <div class="left-align col s3">
        <a class=" btn-flat waves-effect previewAction ng-cloak">PREVIEW</a> 
        </div>
        <div class="right-align col s9"> 
        <a class="btn-flat wave-effect success-bar ng-cloak">SAVE AS DRAFT</a> 
        <a class="modal-trigger waves-effect hoverable btn white black-text marginRight10 ng-cloak">CANCEL</a> 
        <a class="modal-trigger waves-effect hoverable btn wave-effect ng-cloak" ng-click="vm.submit()">SUBMIT</a>
        </div>
    </div>
    </div>
</footer>
