<header> 
  <script type="text/javascript" src="theme/svg/icons-svg.js"></script> 
  <div class="navbar-fixed extraHeader">
    <nav>
      <div class="nav-wrapper row">
        <div class="col s12"> 
          <a class="brand-logo left" tabindex="1"> 
            <img src="../theme/images/logo_new.png" alt="GEP" data-position="bottom" data-delay="50" data-tooltip="GEP" class="left tooltipped" /> 
            <span class="left ">
              <span class="user-name ng-cloak">YATISH'S</span> 
              <span class="product-name ng-cloak">WORKSPACE</span> 
            </span>
          </a>
          <ul class="right nav-right-buttons">
            <li>
              <a  class="waves-effect  waves-block waves-light user-image" id="overlayTrigger" tabindex="2">
                <span> 
                  <img src="../theme/images/dummyImage.jpg" alt="Profile" data-position="bottom" data-delay="50" data-tooltip="Profile" class="tooltipped" />
                </span> 
              </a>
            </li>
            <li class="nav-bookmark">
              <a href="javascript:void(0)" class="waves-effect  waves-block waves-light right-side-nav tooltipped" data-activates="slide-out-bookmark" id="bookmark" data-position="bottom" data-delay="50"  data-tooltip="Bookmark" tabindex="3"> 
                <i class="icon iconSmall ">
                  <svg>
                    <use xlink:href="#icon_Bookmark"></use>
                  </svg>
                </i> 
              </a>
            </li>
            <li class="notifyBubble nav-notification"> 
              <a href="javascript:void(0)" class="waves-effect  waves-block waves-light right-side-nav tooltipped" id="notification" data-activates="slide-out-notification" data-position="bottom" data-delay="50" data-tooltip="Notification" tabindex="4"> 
                <i class="icon iconSmall ">
                  <svg>
                    <use xlink:href="#icon_Notificatio"></use>
                  </svg>
                </i> 
              </a>
              <div class="z-depth-1 small-notification-bubble bubble">
                <span>99</span>
              </div>
            </li>
            <li class="nav-sidenav">
              <a data-activates="slide-out" id="rightNavId" href="javascript:void(0)" class="waves-effect  waves-block waves-light right-side-nav tooltipped" data-position="bottom" data-delay="50" data-tooltip="Navigation"  tabindex="5"> 
                <i class="icon iconSmall ">
                  <svg>
                    <use xlink:href="#icon_MenuHmbrgr"></use>
                  </svg>
                </i> 
              </a>
            </li>
          </ul>
        </div>
        <div class="col s12 extra-nav-wrap">
          <div class="normalMode">
            <div class="left"> 
              <a href="javascript:history.go(-1);" class="left waves-block waves-effect waves-light">
                <i class="icon small ">
                  <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_Back"></use>
                  </svg>
                </i>
              </a>
              <i class="icon small left">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_OnBehalf"></use>
                </svg>
              </i>
              <span class="headingText ng-cloak left">NEW REQUISITION</span> 
            </div>
          </div>
        </div>
      </div>
      <ul class="right-sidebar-nav side-nav right-aligned zIndex0 collapsible" id="slide-out">
        <li class="nav-icon-row">
          <div class="row">
            <div class="col s12"> 
              <a href="login.html" class="waves-effect waves-block waves-light right tooltipped" data-position="bottom" data-delay="50" data-tooltip="Log Out"> 
                <i class="icon iconSmall ">
                  <svg>
                    <use xlink:href="#icon_Logout"></use>
                  </svg>
                </i> 
              </a> 
              <a  class="waves-effect waves-block waves-light right tooltipped" data-position="bottom" data-delay="50" data-tooltip="Settings"> 
                <i class="icon iconSmall ">
                  <svg>
                    <use xlink:href="#icon_Settings"></use>
                  </svg>
                </i> 
              </a> 
            </div>
          </div>
        </li>
        <li>
          <form>
            <div class="side-nav-search"> 
              <i class="icon iconSmall  icon-left tooltipped" data-position="left" data-delay="50" data-tooltip="Search">
                <svg>
                  <use xlink:href="#icon_Search"></use>
                </svg>
              </i>
              <input type="text" required value="SEARCH" id="searchBox">
              <span class="bar"></span> 
              <i class="icon iconSmall  header_search_undo icon-right tooltipped" data-position="bottom" data-delay="50" data-tooltip="Clear Search" id="close-search-box" style="display: none;">
                <svg>
                  <use xlink:href="#icon_Close"></use>
                </svg>
              </i> 
            </div>
          </form>
        </li>
        <li>
          <a  class="waves-effect waves-block waves-light" alt="Event Calendar"> 
            <i class="icon iconSmall left">
              <svg>
                <use xlink:href="#icon_Calendar"></use>
              </svg>
            </i> EVENT CALENDAR
          </a>
        </li>
        <li>
          <a  class="waves-effect waves-block waves-light" alt="Dashboard & Reports"> 
            <i class="icon iconSmall  left">
              <svg>
                <use xlink:href="#icon_DashboardRe"></use>
              </svg>
            </i> DASHBOARD & REPORTS
          </a>
        </li>
        <li>
          <a  class="waves-effect waves-block waves-light" alt="File Repositories"> 
            <i class="icon iconSmall  left">
              <svg>
                <use xlink:href="#icon_FileRepo"></use>
              </svg>
            </i> FILE REPOSITORIES
          </a>
        </li>
        <li>
          <a  class="waves-effect waves-block waves-light " alt="Procurement Policies"> 
            <i class="icon iconSmall  left">
              <svg>
                <use xlink:href="#icon_ProcPolicy"></use>
              </svg>
            </i> PROCUREMENT POLICIES
          </a>
        </li>
        <li>
          <div class="collapsible-header waves-effect waves-block waves-light"> 
            <i class="icon iconSmall  left"  alt="Connect">
              <svg>
                <use xlink:href="#icon_Connect"></use>
              </svg>
            </i> 
            <i class="icon iconSmall  right">
              <svg>
                <use xlink:href="#icon_DownChevron"></use>
              </svg>
            </i> CONNECT 
          </div>
          <ul class="collapsible-body">
            <li> 
              <a  class="waves-effect waves-block waves-light "  alt="Chat"> 
                <i class="icon iconSmall  left">
                  <svg>
                    <use xlink:href="#icon_Chat"></use>
                  </svg>
                </i> CHAT
              </a>
            </li>
            <li>
              <a href="#sendEmailCall" class="modal-trigger waves-effect waves-block waves-light"  alt="Email"> 
                <i class="icon iconSmall left">
                  <svg>
                    <use xlink:href="#icon_Email"></use>
                  </svg>
                </i> EMAIL
              </a>
            </li>
            <li>
              <a  class="waves-effect waves-block waves-light"  alt="Discussion Forum"> 
                <i class="icon iconSmall  left">
                  <svg>
                    <use xlink:href="#icon_Discuss"></use>
                  </svg>
                </i> DISCUSSION FORUM
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-bottom-stick"> 
          <a  class="waves-effect waves-block waves-light"  alt="Reach Us"> 
            <i class="icon iconSmall  left">
              <svg>
                <use xlink:href="#icon_ReachUs"></use>
              </svg>
            </i> REACH US
          </a>
        </li>
      </ul>
      <div class="right-sidebar-nav side-nav right-aligned zIndex0 collapsible side-out-bm-nf-ct" id="slide-out-bookmark">
        <div class="scrollbar-outer" style="max-height: 460px">
          <div class="collection">
            <div class="collection-item"> 
              <a href="#shareBookmark" class="icon iconSmall right modal-trigger tooltipped" data-position="left" data-delay="50" data-tooltip="Share">
                <svg>
                  <use xlink:href="#icon_Share"></use>
                </svg>
              </a> 
              <a >Create Contract </a> 
            </div>
            <div class="collection-item"> 
              <a href="#shareBookmark" class="icon iconSmall right modal-trigger tooltipped" data-position="left" data-delay="50" data-tooltip="Share">
                <svg>
                  <use xlink:href="#icon_Share"></use>
                </svg>
              </a> 
              <a >My RFX </a> 
            </div>
            <div class="collection-item"> 
              <a href="#shareBookmark" class="icon iconSmall right modal-trigger tooltipped" data-position="left" data-delay="50" data-tooltip="Share">
                <svg>
                  <use xlink:href="#icon_Share"></use>
                </svg>
              </a> 
              <a >Laptops for the Team </a> 
            </div>
            <div class="collection-item"> 
              <a href="#shareBookmark" class="icon iconSmall right modal-trigger tooltipped" data-position="left" data-delay="50" data-tooltip="Share">
                <svg>
                  <use xlink:href="#icon_Share"></use>
                </svg>
              </a> 
              <a >Payment Requests created by Me </a> 
            </div>
            <a href="#Add_Bookmark"  class="modal-trigger white-text collection-item nav-bottom-stick waves-effect waves-block waves-light selected tooltipped" data-position="left" data-delay="50" data-tooltip="Add As Bookmark"> 
              <i class="icon iconSmall lineHeightInherit heightAuto">
                <svg>
                  <use xlink:href="#icon_BookmarkAdd"></use>
                </svg>
              </i> ADD AS BOOKMARK 
            </a> 
          </div>
        </div>
      </div>
      <div class="right-sidebar-nav side-nav right-aligned zIndex0 collapsible side-out-bm-nf-ct" id="slide-out-notification">
        <div>
          <div class="row">
            <ul class="tabs">
              <li class="tab col s6">
                <a href="#internal" class="active" alt="Internal}}">INTERNAL</a>
              </li>
              <li class="tab col s6">
                  <a href="#external" class=" " alt="External">EXTERNAL</a>
              </li>
            </ul>
            <div id="internal">
              <div class="scrollbar-outer" style="max-height: 460px">
                <div class="collection"> 
                  <a class="collection-item avatar"> 
                    <img src="../theme/images/internal_img.jpg" class="circle" alt="Internal" /> 
                    <span class="title cursorPointer">A corporation is a company or group of people</span>
                    <p> 
                      <span class="fontSize12">Nov 26, 2015</span> 
                      <br> Lorem ipsum dolor sit amet, tantas luptatum dignissim sit in, ius eu lorem soleat... 
                    </p>
                  </a> 
                  <a class="collection-item avatar"> 
                    <img src="../theme/images/internal_img.jpg" class="circle" alt="Internal" /> 
                    <span class="title cursorPointer">A corporation is a company or group of people</span>
                    <p> 
                      <span class="fontSize12">Nov 26, 2015</span> 
                      <br> Lorem ipsum dolor sit amet, tantas luptatum dignissim sit in, ius eu lorem soleat... 
                    </p>
                  </a> 
                  <a class="collection-item avatar"> 
                    <img src="../theme/images/internal_img.jpg" class="circle" alt="Internal" /> 
                    <span class="title cursorPointer">A corporation is a company or group of people</span>
                    <p> 
                      <span class="fontSize12">Nov 26, 2015</span> 
                      <br> Lorem ipsum dolor sit amet, tantas luptatum dignissim sit in, ius eu lorem soleat... 
                    </p>
                  </a> 
                  <a href="#Add_internal" class="btn-flat collection-item white-text nav-bottom-stick waves-effect waves-block waves-light modal-trigger"> ADD NEW </a> 
                </div>
              </div>
            </div>
            <div id="external">
              <div class="scrollbar-outer" style="max-height: 460px">
                <div class="collection"> 
                  <a class="collection-item avatar"> 
                    <img src="../theme/images/internal_img.jpg" class="circle" alt="External" /> 
                    <span class="title cursorPointer">Company or group of people</span>
                    <p> 
                      <span class="fontSize12">Nov 26, 2015</span> 
                      <br> Lorem ipsum dolor sit amet, tantas luptatum dignissim sit in, ius eu lorem soleat... 
                    </p>
                  </a> 
                  <a class="collection-item avatar"> 
                    <img src="../theme/images/internal_img.jpg" class="circle" alt="External" /> 
                    <span class="title cursorPointer">Company or group of people</span>
                    <p> 
                      <span class="fontSize12">Nov 26, 2015</span> 
                      <br> Lorem ipsum dolor sit amet, tantas luptatum dignissim sit in, ius eu lorem soleat... 
                    </p>
                  </a> 
                  <a class="collection-item avatar"> 
                    <img src="../theme/images/internal_img.jpg" class="circle" alt="External" /> 
                    <span class="title cursorPointer">Company or group of people</span>
                    <p> 
                      <span class="fontSize12">Nov 26, 2015</span> 
                      <br> Lorem ipsum dolor sit amet, tantas luptatum dignissim sit in, ius eu lorem soleat... 
                    </p>
                  </a> 
                  <a href="#Add_external" class=" btn-flat collection-item white-text nav-bottom-stick waves-effect waves-block waves-light modal-trigger">ADD NEW</a> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
