<form class="row accountDetails">
  <div class="col s12 m12 on-scroll-out">
    <div class="col s12 white card-panel ng-cloak">
      <div class="row" ng-repeat="i in vm.numSec1Rows track by $index">
        <div class="input-field col s12 l3 m12" ng-if="vm.setupSec2Props.length > $index * 3">
          <custom-properties ng-if="vm.setupSec1Props[$index * 3].isPrimary" label="vm.settings.setup.primary[vm.setupSec1Props[$index * 3].prop].ui.label" prop="vm.requisition[vm.setupSec1Props[$index * 3].prop]" uitype="vm.settings.setup.primary[vm.setupSec1Props[$index * 3].prop].ui.uiType" allowedit="vm.settings.setup.primary[vm.setupSec1Props[$index * 3].prop].ui.allowEdit"></custom-properties>
          <custom-properties ng-if="!vm.setupSec1Props[$index * 3].isPrimary" label="vm.settings.setup.custom[vm.setupSec1Props[$index * 3].prop].ui.label" prop="vm.requisition.customProps[vm.setupSec1Props[$index * 3].prop]" uitype="vm.settings.setup.custom[vm.setupSec1Props[$index * 3].prop].ui.uiType" allowedit="vm.settings.setup.custom[vm.setupSec1Props[$index * 3].prop].ui.allowEdit"></custom-properties>
        </div>
        <div class="input-field col s12 l3 m12" ng-if="vm.setupSec1Props.length > $index * 3 + 1">
          <custom-properties ng-if="vm.setupSec1Props[$index * 3 + 1].isPrimary" label="vm.settings.setup.primary[vm.setupSec1Props[$index * 3 + 1].prop].ui.label" prop="vm.requisition[vm.setupSec1Props[$index * 3 + 1].prop]" uitype="vm.settings.setup.primary[vm.setupSec1Props[$index * 3 + 1].prop].ui.uiType" allowedit="vm.settings.setup.primary[vm.setupSec1Props[$index * 3 + 1].prop].ui.allowEdit"></custom-properties>
          <custom-properties ng-if="!vm.setupSec1Props[$index * 3 + 1].isPrimary" label="vm.settings.setup.custom[vm.setupSec1Props[$index * 3 + 1].prop].ui.label" prop="vm.requisition.customProps[vm.setupSec1Props[$index * 3 + 1].prop]" uitype="vm.settings.setup.custom[vm.setupSec1Props[$index * 3 + 1].prop].ui.uiType" allowedit="vm.settings.setup.custom[vm.setupSec1Props[$index * 3 + 1].prop].ui.allowEdit"></custom-properties>
        </div>
        <div class="input-field col s12 l3 m12" ng-if="vm.setupSec1Props.length > $index * 3 + 2">
          <custom-properties ng-if="vm.setupSec1Props[$index * 3 + 2].isPrimary" label="vm.settings.setup.primary[vm.setupSec1Props[$index * 3 + 2].prop].ui.label" prop="vm.requisition[vm.setupSec1Props[$index * 3 + 2].prop]" uitype="vm.settings.setup.primary[vm.setupSec1Props[$index * 3 + 2].prop].ui.uiType" allowedit="vm.settings.setup.primary[vm.setupSec1Props[$index * 3 + 2].prop].ui.allowEdit"></custom-properties>
          <custom-properties ng-if="!vm.setupSec1Props[$index * 3 + 2].isPrimary" label="vm.settings.setup.custom[vm.setupSec1Props[$index * 3 + 2].prop].ui.label" prop="vm.requisition.customProps[vm.setupSec1Props[$index * 3 + 2].prop]" uitype="vm.settings.setup.custom[vm.setupSec1Props[$index * 3 + 2].prop].ui.uiType" allowedit="vm.settings.setup.custom[vm.setupSec1Props[$index * 3 + 2].prop].ui.allowEdit"></custom-properties>
        </div>
      </div>
    </div>
    <div class="row marginBottom0">
    <div class="col s12 card-panel ng-cloak">
      <div class="row" ng-repeat="i in vm.numSec2Rows track by $index">
        <div class="input-field col s12 l3 m12" ng-if="vm.setupSec2Props.length > $index * 3">
          <custom-properties ng-if="vm.setupSec2Props[$index * 3].isPrimary" label="vm.settings.setup.primary[vm.setupSec2Props[$index * 3].prop].ui.label" prop="vm.requisition[vm.setupSec2Props[$index * 3].prop]" uitype="vm.settings.setup.primary[vm.setupSec2Props[$index * 3].prop].ui.uiType" allowedit="vm.settings.setup.primary[vm.setupSec2Props[$index * 3].prop].ui.allowEdit"></custom-properties>
          <custom-properties ng-if="!vm.setupSec2Props[$index * 3].isPrimary" label="vm.settings.setup.custom[vm.setupSec2Props[$index * 3].prop].ui.label" prop="vm.requisition.customProps[vm.setupSec2Props[$index * 3].prop]" uitype="vm.settings.setup.custom[vm.setupSec2Props[$index * 3].prop].ui.uiType" allowedit="vm.settings.setup.custom[vm.setupSec2Props[$index * 3].prop].ui.allowEdit"></custom-properties>
        </div>
        <div class="input-field col s12 l3 m12" ng-if="vm.setupSec2Props.length > $index * 3 + 1">
          <custom-properties ng-if="vm.setupSec2Props[$index * 3 + 1].isPrimary" label="vm.settings.setup.primary[vm.setupSec2Props[$index * 3 + 1].prop].ui.label" prop="vm.requisition[vm.setupSec2Props[$index * 3 + 1].prop]" uitype="vm.settings.setup.primary[vm.setupSec2Props[$index * 3 + 1].prop].ui.uiType" allowedit="vm.settings.setup.primary[vm.setupSec2Props[$index * 3 + 1].prop].ui.allowEdit"></custom-properties>
          <custom-properties ng-if="!vm.setupSec2Props[$index * 3 + 1].isPrimary" label="vm.settings.setup.custom[vm.setupSec2Props[$index * 3 + 1].prop].ui.label" prop="vm.requisition.customProps[vm.setupSec2Props[$index * 3 + 1].prop]" uitype="vm.settings.setup.custom[vm.setupSec2Props[$index * 3 + 1].prop].ui.uiType" allowedit="vm.settings.setup.custom[vm.setupSec2Props[$index * 3 + 1].prop].ui.allowEdit"></custom-properties>
        </div>
        <div class="input-field col s12 l3 m12" ng-if="vm.setupSec2Props.length > $index * 3 + 2">
          <custom-properties ng-if="vm.setupSec2Props[$index * 3 + 2].isPrimary" label="vm.settings.setup.primary[vm.setupSec2Props[$index * 3 + 2].prop].ui.label" prop="vm.requisition[vm.setupSec2Props[$index * 3 + 2].prop]" uitype="vm.settings.setup.primary[vm.setupSec2Props[$index * 3 + 2].prop].ui.uiType" allowedit="vm.settings.setup.primary[vm.setupSec2Props[$index * 3 + 2].prop].ui.allowEdit"></custom-properties>
          <custom-properties ng-if="!vm.setupSec2Props[$index * 3 + 2].isPrimary" label="vm.settings.setup.custom[vm.setupSec2Props[$index * 3 + 2].prop].ui.label" prop="vm.requisition.customProps[vm.setupSec2Props[$index * 3 + 2].prop]" uitype="vm.settings.setup.custom[vm.setupSec2Props[$index * 3 + 2].prop].ui.uiType" allowedit="vm.settings.setup.custom[vm.setupSec2Props[$index * 3 + 2].prop].ui.allowEdit"></custom-properties>
        </div>
      </div>
    </div>
    </div>
  </div>
</form>
