$icon-color:#159dfc;
$h2Icon-color:#b2b2b2;
$h2Text-color:#484948;
$font-size-normal:14px;
$colorWhite:#fff;


.backspace{padding-right:15px;}
.opacityBlur{opacity: 0.7;position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: -1;}
.h2Icon{margin-right:13px;}


.progress-bar {position: relative;height: 200px;width: 200px;margin: 50px auto 0;display:table;
.profilePic{position: relative;height: 200px;}
div{position: absolute;height: 200px;width: 200px;border-radius: 50%;}
.background {background-color:#fff;border:1px solid #fff;}
.rotate {clip: rect(0 100px 200px 0);background-color: #4b86db;}
.left {clip: rect(0 100px 200px 0);opacity: 1;background-color: #b3cef6;}
.right {clip: rect(0 100px 200px 0);transform: rotate(180deg);opacity: 0;background-color: #4b86db;}
.roundImg{border-radius:150px;overflow:hidden;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);position: absolute;font-family: Arial;font-size: 25px;line-height: 175px;height: 175px;width: 175px;left: 12.5px;top: 12.5px;text-align: center;border-radius: 50%;}
.bigText, .smallText{display:block;text-align:center;color:$icon-color; text-transform:uppercase;}
.bigText{font-size:25px;font-size: 33px;line-height: 29px;margin-top: 10px;}
.smallText{font-size:16px;}
}
@keyframes toggle {  0% {opacity: 0;}100% {opacity: 1;} 
}

.accountDetails{
.collapsible{box-shadow: none;border:none;}
.collapsible li{margin-bottom:1rem;box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);background:#fff;}
.collapsible-header{border:none;}
.collapsible-body{margin:0 1rem;border-top:2px solid $icon-color;border-bottom:none;}
.collapsible form .row{margin-bottom:0;}
.collapsible form .row .col input{margin-bottom:0;}
.collapsible form{padding-bottom:1rem;}
}

.secondary-navigation{position:absolute;top:0px;right:-186px;height:100%;border-left:1px solid #D4D4D4;z-index:1;
-webkit-transition: 1s ease-out;-moz-transition: 1s ease-out;-o-transition: 1s ease-out;-ms-transition: 1s ease-out;
ul{margin:0;
li{
a{padding:10px 25px;
i{font-size: 22px;float: left;line-height: 20px;}
span{float:left;margin-left:20px;}
span:active, span:hover{color:#000;}
}
a:hover{background:#e5e5e5;}
}
li.selected a{background:#e5e5e5;}
}
}

.accountDetailPage{position:relative;overflow:hidden;-webkit-transition: 0.2s ease;-moz-transition: 0.5s ease-out;-o-transition: 0.5s ease-out;-ms-transition: 0.5s ease-out;padding-top: 12px;}
.easeIn{  -webkit-transform: translateX(-186px);
    -ms-transform: translateX(-186px);
	-o-transform: translateX(-186px);
    transform: translateX(-186px); }
.accountDetails .card-panel{padding:0.75rem 1.50rem;}
.readOnlyForm {
.card-panel .col:nth-child(1) ul{margin-left:1rem;margin-top: 1.5rem;}
.card-panel .col:nth-child(2) ul{margin-right:1rem;margin-top: 1.5rem;}
.card-panel .col:nth-child(3) ul{margin:1rem;}
.card-panel .col:nth-child(4) ul{margin:1rem;}
.card-panel .col:nth-child(5) ul{margin:1rem;}
}

.optionalField{position:realative;}
.optionalFieldHover{    border: 1px solid #e0e0e0;
    padding:1.5rem 1.5rem 2.7rem 1.5rem;
    position: absolute;
    width: 100%;
    height: 100%;
    left: -0.1rem;
    top: -0.2rem;
	opacity:9;}
.closingOpt{right:0.2rem;position: absolute;top:0;cursor:pointer;}	

.navbar-fixed nav.InTop{top:-68px;line-height:45px;}
.navbar-fixed nav{ -webkit-transition: 0.5s ease-out;-moz-transition: 0.5s ease-out;-o-transition: 0.5s ease-out;-ms-transition: 0.5s ease-out;top:0px;}



.readOnlyForm{Padding:0px;
.secondUl{border-left:1px solid #e5e5e5;}
ul li{font-size:$font-size-normal;}
ul li .label{font-weight:bold; margin-right:15px;}
.border{border-top:1px solid #e5e5e5;}
.floatBreak{float:none;display:block;}
}

.lowerHeading{color:$colorWhite;
ul li{float:left;
a{color:$colorWhite}
}
}

.input-field .iconFix ~ input{padding-right: 3rem;width: 92%;width: calc(100% - 3rem);position:relative;}
.iconFix{  position: absolute;
    width: 3rem;
    font-size: 2rem;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -o-transition: color .2s;
    -ms-transition: color .2s;
    transition: color .2s;right:0rem;top:0rem;
	color:#bdbdbd;}
.input-field .iconFix.active {
      color: #26a69a; }
	  
.previewMode{display:none;}


.editableMode{transition:0.5s ease-out;}

.previewModeContainer{transition:1s ease-out;}
.normalMode, .previewMode{opacity:1;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    transition: opacity 1s ease;
	-o-transition: opacity 1s ease;}


footer.page-footer{position:absolute;bottom:0;left:0;width:100%;background:#e6e6e6;z-index:2;}

