.body-container{
	height: 100%;
	width: 100%;
}

.right-container, .left-container {
	margin-top: 20px;
}

.prim-right{
	margin-right : 60%;
}

.primary-container, .item-container {
	border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 5px;
}

#item-list .list-group-item{
	cursor: pointer;
}

.item-container{
	margin-top : 20px;
}

.acc-split-table {
	margin-top: 180px;
}