<div ng-repeat='(key, val) in customProps'>
	<!-- <div class='row'> -->
	<div class="col-md-6" ng-switch="getInputType(key)">
		<label>{{cpobject[key].label}}</label>
		<div ng-switch-when="txtbx">
			<input type="text" ng-model="customProps[key]" class="form-control">
		</div>
		<div ng-switch-when="autosuggest">
			<input type="text" ng-model="customProps[key]" uib-typeahead="state for state in cpobject[key].allVals" class="form-control">
		</div>
		<div ng-switch-when="checkbox">
			<input type="checkbox" ng-model="customProps[key]" ng-false-value="0" ng-true-value="1" uib-typeahead="state for state in cpobject[key].allVals">
		</div>
		<div ng-switch-when="ddlist">
			<select name="mySelect" ng-model="customProps[key]" class="form-control">
				<option ng-repeat='value in cpobject[key].allVals track by $index' value='{{value}}'>{{value}}</option>
			</select>
      	</div>
		<div ng-switch-default class="form-control">{{customProps[key]}}</div>
		
	</div>
	  <!-- <div class="col-md-4">
	    <label>Requisition Number</label>
	    <label class="form-control">{{vm.requisition.val}}</label>
	  </div>    -->    
	<!-- </div> -->
</div>