<nav class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="brand"><a>HOME</a></li>
            <li><a>SPEND</a></li>
            <li><a>PROJECTS</a></li>
            <li><a>SOURCING</a></li>
            <li><a>PROCUREMENT</a></li>
            <li><a>PARTNERS</a></li>
            <li><a>DASHBOARD</a></li>
            <li style="margin-top: 7px;margin-left: 500px;">
              <button type="button" class="btn btn-default">Request</button>
            </li>
        </ul>    
    </div>    
</nav>
