<div class='row'> 
	<div class="btn-group col-md-6">
		<label ng-repeat='litem in items track by $index' class="btn btn-success" ng-model="itemModel.model" ng-click="selectItem(litem,$index+1)" uib-btn-radio="'Item {{$index+1}}'">Item {{$index+1}}</label>
	</div>   
	<div class="col-md-6">
		<div class='btn-group pull-right'>
		<label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Partner'">Partner</label>
		<label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Shipping'">Shipping</label>
		<label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Others'">Others</label>
		<label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Accounting'">Accounting</label>
		<label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Contract'">Contract</label>
		</div>
	</div>
</div>
<div class='row'>  
	<div uib-collapse="!(radioModel == 'Partner')">
		<div class='row'>
			<div class="col-md-4">
				<label>Partner Name</label>
				<input type="text" ng-model="item.partner.Partnername" class="form-control">
			</div>
			<div class="col-md-4">
				<label>Partner Code</label>
				<div>{{item.partner.Partnercode}}</div>
			</div>       
		</div>
		<div class='row'>
			<div class="col-md-4">
				<label>Manufacturer Name</label>
				<input type="text" ng-model="item.partner.Manufacturername" class="form-control">
			</div>
			<div class="col-md-4">
				<label>Manufacturer Part Number</label>
				<input type="text" ng-model="item.partner.Manufacturerpartnumber" class="form-control">
			</div>       
		</div>
	</div>
	<div uib-collapse="!(radioModel == 'Shipping')">
		<div class='row'>
			<div class="col-md-4">
				<label>Shipping Name</label>
				<input type="text" ng-model="item.shipping.Shiptoname" class="form-control">
			</div>
			<div class="col-md-4">
				<label>Shipping Address</label>
				<div>{{item.shipping.Shiptoaddress}}</div>
			</div>       
		</div>
		<div class='row'><b>Custom Properties</b></div>
		<div class='row'>
			<custom-properties customprops='item.shipping.customProps'></custom-properties>
		</div>
	</div>
	<div uib-collapse="!(radioModel == 'Others')">
		<div class='row'>
			<div class="col-md-4">
				<label>Contract Number</label>
				<input type="text" ng-model="item.others.Categoryname" class="form-control">
			</div>  
		</div>
		<div class='row'><b>Custom Properties</b></div>
		<div class='row'>
			<custom-properties customprops='item.others.customProps'></custom-properties>
		</div>
	</div>
	<div uib-collapse="!(radioModel == 'Accounting')">
		<uib-tabset justified="true" type="pills">
			<uib-tab ng-repeat='split in item.accounting track by $index' heading='Split {{$index+1}}'>
				<div class='row'>
					<label>Quantity</label>
					<input type="text" ng-model="split.Quantity" class="form-control">
				</div>
				<div class='row'>
					<label>Amount</label>
					<input type="text" ng-model="split.Amount" class="form-control">
				</div>
				<div class='row'><b>Custom Properties</b></div>
				<div class='row'>
					<custom-properties customprops='split.customProps'></custom-properties>
				</div>
			</uib-tab>
		</uib-tabset>
	</div>
	<div uib-collapse="!(radioModel == 'Contract')">
		<div class='row'>
			<div class="col-md-4">
				<label>Contract Number</label>
				<input type="text" ng-model="item.contract.Contractnumber" class="form-control">
			</div>
			<div class="col-md-4">
				<label>Contract Name</label>
				<div>{{item.contract.Contractname}}</div>
			</div>       
		</div>	
		<div class='row'>
			<div class="col-md-4">
				<label>Contract Expiry Date</label>
				<div>{{item.contract.Contractexpirydate}}</div>
			</div>
			<div class="col-md-4">
				<label>Contract Value</label>
				<div>{{item.contract.Contractvalue}}</div>
			</div>       
		</div>	
		<div class='row'>
			<div class="col-md-4">
				<label>Payment Terms</label>
				<div>{{item.contract.Paymentterms}}</div>
			</div>
		</div>	
	</div>
</div>