
<div class='row'>    
    <div class='form-control'>    
        <div class='table-cell'>Item Total:</div>
        <div class='table-cell'>50:00</div>
        <div class='table-cell'>USD</div>
        <div class='table-cell'>+</div>
        <div class='table-cell'>Taxes and Charges</div>
        <div class='table-cell'>50:00</div>
        <div class='table-cell'>USD</div>
        <div class='table-cell'>=</div>
        <div class='table-cell'>Total Value:</div>
        <div class='table-cell'>50:00</div>
        <div class='table-cell'>USD</div>
    </div>      
</div>
<div class='row'> 
    <div class='row'><span class="caret"></span>  Materials ({{requisition.Items.length}})</div>
</div>
<hr />
<div class='row'> 
    <div ui-grid="gridoptions" class="grid"></div>
</div>
<!-- <div class='row' style="margin-top:20px;margin-left: 20px;"> 
    <div class='row'><span class="caret"></span>  Services ({{requisition.Services.length}})</div>
</div>
<hr />
<div class='row' style="margin: 20px;"> 
    <div ui-grid="sgridOptions" class="grid"></div>
</div> -->
