
<div class="row">
    <div class='col-md-8' style='padding-left:30px;text-align: center;'>
      <h5>{{vm.requisition.RequisitionName}} - {{vm.requisition.RequisitionNumber}}</h5>
    </div>    
    <div class="btn-group col-md-2">
        <label class="btn btn-primary" ng-model="vm.viewtype" uib-btn-radio="'Quick'">Quick</label>
        <label class="btn btn-primary" ng-model="vm.viewtype" uib-btn-radio="'Detailed'">Detailed</label>
    </div>
    <div class="btn-group col-md-2" uib-dropdown>
      <button id="split-button" type="button" class="btn btn-danger">{{vm.status}}</button>
      <button type="button" class="btn btn-danger" uib-dropdown-toggle>
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul class="uib-dropdown-menu mydd" role="menu" aria-labelledby="split-button">
        <li role="menuitem"><a ng-click='vm.changeStatus(0)'>Send for Approval</a></li>
        <li role="menuitem"><a ng-click='vm.changeStatus(1)'>Manage Approvals</a></li>
        <li role="menuitem"><a ng-click='vm.changeStatus(2)'>Delete</a></li>
        <li role="menuitem"><a ng-click='vm.changeStatus(3)'>Export To PDF</a></li>
      </ul>
    </div>
</div>
<div class="divider" style="margin-top:15px;"></div>
<uib-tabset>
    <uib-tab heading="Setup"> 
      <div class='row' style="margin-top:20px; margin-left: 20px;">
        <div class='row'>
          <div class="col-md-4">
            <label>Requisition Name</label>
            <input type="text" ng-model="vm.requisition.RequisitionName" class="form-control">
          </div>
          <div class="col-md-4">
            <label>Requisition Number</label>
            <div>{{vm.requisition.RequisitionNumber}}</div>
          </div>       
        </div>
        <div class='row'>
          <div class="col-md-4">
            <label>Requester's Name</label>
            <div>{{vm.requisition.RequestorName}}</div>
          </div>
          <div class="col-md-4">
            <label>Create on Behalf of (OBO)</label>
            <input type="text" ng-model="vm.requisition.OBO_Name" class="form-control">
          </div>       
        </div>
        <div class='row'>
          <div class="col-md-4">
            <label>Currency</label>
            <div>{{vm.requisition.Currency}}</div>
          </div>
        </div>
      </div>
      <hr>
      <div class='row' style="margin-top:20px; margin-left: 20px;"> 
        <div class='row'><b>Location Details</b></div>
        <div class='row col-md-12' style='margin-top:10px;'>Ship to</div>
        <div class='row col-md-12'>
          <label class="radio-inline"><input type="radio" name="optradio" ng-model='vm.stspec' ng-value="1">Specify at Header</label>
          <label class="radio-inline"><input type="radio" name="optradio" ng-model='vm.stspec' ng-value="2">Different for Each Line Item</label>  
        </div>  
        <div class='row'>
          <div class="col-md-4">
            <label>Ship to</label>
            <input type="text" ng-model="vm.requisition.Shiptoname" class="form-control">            
          </div>
          <div class="col-md-4">
            <label>Ship to Address</label>
            <div>{{vm.requisition.Shiptoaddress}}</div>
          </div>       
        </div>
        <div class='row'>
          <div class="col-md-4">
            <label>Bill to</label>
            <input type="text" ng-model="vm.requisition.Billtoname" class="form-control">            
          </div>
          <div class="col-md-4">
            <label>Bill to Address</label>
            <div>{{vm.requisition.Billtoaddress}}</div>
          </div>  
          <div class="col-md-4" ng-if='vm.requisition.EmailFax'>
            <label>Email Id/ Fax Number</label>
            <div>{{vm.requisition.EmailFax}}</div>
          </div>      
        </div>
      </div>
      <hr>
      <div class='row' style="margin-top:20px; margin-left: 20px;">
        <div class='row'><b>Custom Properties</b></div>
        <div class='row' style='margin-top:10px;'>
          <custom-properties customprops='vm.requisition.customProps'></custom-properties>
        </div>
      </div>
    </uib-tab>
     <uib-tab heading="Item">        
      <div class='row' style="margin-top:20px;margin-left: 20px;">    
        <div class='table-cell'>Item Total:</div>
        <div class='table-cell'>50:00</div>
        <div class='table-cell'>USD</div>
        <div class='table-cell'>+</div>
        <div class='table-cell'>Taxes and Charges</div>
        <div class='table-cell'>50:00</div>
        <div class='table-cell'>USD</div>
        <div class='table-cell'>=</div>
        <div class='table-cell'>Total Value:</div>
        <div class='table-cell'>50:00</div>
        <div class='table-cell'>USD</div>
      </div>
    </uib-tab>
     <uib-tab heading="Item Details">    
      <div class='row' style="margin-top:20px;margin-left: 20px;">    
        <div class="btn-group">
          <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Partner'" uncheckable>Partner</label>
          <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Shipping'" uncheckable>Shipping</label>
          <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Others'" uncheckable>Others</label>
          <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Accounting'" uncheckable>Accounting</label>
          <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Contract'" uncheckable>Contract</label>
        </div>
      </div>
    </uib-tab>
</uib-tabset>